html {
    background-color: black;
}

#mort {
    color: red;
    font-size: 100pt;
    text-align: center;
    margin-bottom: -2%;
}

 @font-face {
    font-family: "ds1";
    src: url("optimusprinceps.ttf");
  }

  p {

  }

  #foot {
      text-align: center;
      text-transform: lowercase;
      z-index: 3;
      color: grey;
      margin-top: 3%;
  }

  #test {
      display: inline-flex;
  }

  #solair {
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 80%;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 5s;
  }

  #texte1 {
      text-transform: uppercase;
      text-align: center;
      size: 15pt;
      transform: scale(1);
      transition: all 0.3s ease-in-out 0.1s;
      margin-bottom: px;
      font-size: 20pt;
      color: white;
  } 
 
  .fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 5s;
    margin-top: 50px;
    font-family: "ds1";
    
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}